/* GENERAL ========================================================== */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #ebdeda;
    font: 400 14px/1.4 'Helvetica Neue', 'Helvetica', 'Open Sans', 'Arial', sans-serif;
    height: 100%;
}

body::before {
    content: 'ANYTHING TO DRINK FOR YOU?';
    display: block;
    left: 50%;
    position: fixed;
    top: 50%;
    z-index: -1;
    font-style: italic;
    color: #c9bdbb;
    font-size: 2em;
    max-width: 5em;
    font-family: 'Times New Roman', 'Times', serif;
    transform: translate(-50%, -50%);
}

input,
button {
    font-family: inherit !important;
    font-weight: 400;
}

input[type='search'],
input[type='text'],
textarea {
    -webkit-appearance: none !important;
    background: #fff !important;
    border: 1px solid #ccc !important;
    border-radius: 2px;
    box-shadow: none !important;
    padding: 0.5rem !important;
}

a {
    color: #de6080;
    transition: color 0.2s;
}

a:hover {
    color: #ff85a3;
}

.rounded {
    border-radius: 2px;
}


/* HEADER =========================================================== */

#header {
    background: #ebdeda;
    border-bottom: 5px solid #6d3322;
    color: #6d3322;
    height: 7em;
    margin-bottom: 2em;
}

#header a {
    color: #6d3322;
}

#sr-header-area {
    background: #3b1916;
    border: none;
    font-size: 0.6rem;
    height: auto;
    line-height: inherit;
}

#sr-header-area a {
    color: #ccd7e2;
}

#sr-header-area .width-clip {
    overflow: hidden;
    position: static;
    width: 100%;
}

#sr-header-area .dropdown.srdrop,
#sr-header-area .sr-list {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.dropdown.srdrop .selected {
    color: #ccd7e2;
    padding: 0.5em 2em 0.5em 0.5em;
}

#sr-header-area .drop-choices.srdrop {
    margin-top: 0px;
}

.drop-choices {
    background: #6d3322;
    border: none;
    text-transform: none;
}

.drop-choices a.choice {
    color: #bfbfbf !important;
    padding: 0.5em 1em;
}

.drop-choices a.choice:hover {
    background: transparent;
    color: #fff !important;
}

.srdrop .choice.bottom-option {
    border-top: 1px solid #38a7c0;
}

#sr-more-link {
    background-color: #3b1916;
    padding: 0.5em 1em;
}

.sr-bar a {
    display: inline-block;
    padding: 0.5em 0;
}

#header-img.default-header {
    background: transparent url(%%browntruck%%) no-repeat center center / contain;
    height: 6em;
    vertical-align: middle;
    width: 8em;
    float: left;
    margin-left: -1em;
    margin-top: -0.5em;
    transition: transform 0.3s;
}

#header-img.default-header:hover {
    transform: rotate(-20deg);
}

.pagename {
    font-variant: normal;
    font-weight: 300;
    margin-top: 3em;
    padding: 0.5em 0 0.5em 0.75em;
    position: relative;
    white-space: nowrap;
}

.pagename a {
    width: 10.5em;
    display: inline-block;
    opacity: 0;
    margin-top: 0.65em;
}

.pagename::before {
    color: #de6080;
    content: 'r/IDEAL CATERING';
    font-family: 'Times New Roman', 'Times', serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #fff, 0 2px 0 #f3bc96, 0 3px 0 #f3bc96, 0 4px 0 #f3bc96;
    position: absolute;
    top: 50%;
    margin-top: -0.75em;
}

.tabmenu {
    vertical-align: bottom;
}

.tabmenu li a {
    background: transparent;
    font-weight: 400;
    opacity: 0.8;
    padding: 0.5em;
    transition: opacity 0.2s;
}

.tabmenu li a:hover {
    border-bottom: 2px solid #6d3322;
    opacity: 1;
}

.tabmenu li.selected a {
    background: transparent;
    border: none;
    border-bottom: 2px solid #6d3322;
    font-weight: 700;
    opacity: 1;
}

#header-bottom-left {
    margin-top: 0.5em;
}

#header-bottom-right {
    background: transparent;
    bottom: auto;
    font-weight: 300;
    opacity: 0.8;
    right: 0.5em;
    top: 50%;
    transition: opacity 0.2s;
}

#header-bottom-right:hover {
    opacity: 1;
}

.pref-lang {
    font-weight: 300;
}


/* FOOTER =========================================================== */

.footer-parent {
    font-size: 0.85em;
    margin-bottom: 1em;
    padding-top: 0;
}

.footer {
    border: none;
}

.debuginfo {
    display: none;
}


/* SIDEBAR ========================================================== */

.side {
    margin: 0;
    padding: 0.5em;
    width: 325px;
}

.side #search input[type=text] {
    width: 100%;
}

.users-online .word,
.subscribers .word {
    display: none;
}

.users-online .number::after {
    content: ' students eating poutine';
}

.subscribers .number::after {
    content: ' food truck connoisseurs';
}

.side,
.titlebox form.toggle,
.leavemoderator {
    background: transparent;
}

.titlebox {
    border-radius: 2px;
    font-size: 0.85em;
    padding: 0.5em;
}

.titlebox::before {
    border-radius: 2px 2px 0 0;
    content: 'Toronto Supreme Fries';
    display: block;
    margin: -0.4rem -0.4rem 0 -0.4rem;
}

.titlebox h1.redditname a {
    background: transparent url(%%menu%%) no-repeat center center / contain;
    content: '';
    display: block;
    font-size: 0;
    height: 20rem;
    margin: 1.5rem 0;
}

.titlebox::before,
.sidecontentbox .title {
    background: #ded7bd;
    display: block;
    padding: 0.5rem;
}

.titlebox::before,
.sidecontentbox .title h1 {
    color: #cc2121;
    font-size: 1rem;
    font-weight: 400;
}

.sidecontentbox a.helplink {
    color: #fff;
    font-size: 0.85em;
    font-weight: 300;
    margin-right: 0.5rem;
    margin-top: 0.85em;
}

.titlebox,
.sidecontentbox .content {
    background: #fff;
    border: 2px solid #a9b3bb;
    font-size: 0.85em;
    width: 100%;
}

.sidecontentbox .title {
    border-radius: 2px 2px 0 0;
    border: 2px solid #a9b3bb;
    border-bottom: none;
}

.sidecontentbox .content {
    border: 2px solid #a9b3bb;
    border-top: none;
    border-radius: 0 0 2px 2px;
}

button,
.morelink {
    background: #6d3322;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    height: auto;
    letter-spacing: 0;
    line-height: inherit;
    padding: 0.25rem 0.5rem;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover,
.morelink:hover {
    background: #6d3322;
    box-shadow: 0 0.15em 0 #90432c;
    transform: translateY(-0.15em);
}

button:active,
.morelink:active {
    box-shadow: none;
    transform: translateY(0);
}

.morelink a {
    color: #fff;
}

.morelink .nub,
.create .spacer {
    display: none;
}

.linkinfo {
    background: #eee;
    border-color: #38a7c0;
    font-size: 0.9rem;
}

.linkinfo .shortlink input {
    font-size: 0.75rem;
}

.md hr {
    background: #ccc;
    height: 1px;
}


/* CONTENT ========================================================== */

.content {
    margin: 0;
    padding: 0.5em;
    width: calc(100% - 325px);
}

.content .spacer {
    margin-bottom: 0.5rem;
}

#siteTable {
    background: #fff;
    border-radius: 2px;
    padding: 0.5em;
}

.link .title {
    margin-bottom: 0.25em;
}

.thing .title {
    color: #de6080;
    font-weight: 700;
}

.thing .title:visited,
.thing.visited .title {
    color: #d26e86;
}

.link {
    margin-bottom: 0;
    padding: 0.5em 0;
}

.link .rank {
    font-size: 0.75rem;
    margin-top: 1.5em;
}

.link .entry {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}

.domain {
    font-weight: 300;
}

.tagline {
    font-size: 0.75rem;
    margin: 0.25rem 0;
}

.tagline a {
    color: #de6080;
}

.comments-page .link .entry {
    border: none;
    padding: 0;
}

.link.last-clicked {
    background: #f3f3f3;
    border: none;
    border-radius: 2px;
}

.stickied {
    background: #ded7bc;
    border: 1px solid #de6080;
    border-radius: 2px;
    margin-bottom: 1rem;
}

.stickied .title {
    color: red !important;
}

.comments-page .stickied {
    margin-bottom: 0;
}

.stickied.link .entry {
    border-bottom: none;
    padding: 0;
}

.entry .flat-list {
    font-size: 0.8em;
}

.link .usertext-body .md {
    border-color: #ccc;
    border-radius: 2px;
}

.arrow {
    background-image: url(%%arrows%%) !important;
    background-size: cover;
}

.arrow + .arrow {
    margin-top: 0.5em;
}

.arrow.up {
    background-position: 0 0;
}

.arrow.upmod {
    background-position: -15px 0;
}

.arrow.down {
    background-position: -30px 0;
}

.arrow.downmod {
    background-position: -45px 0;
}

.menuarea .dropdown-title,
.menuarea .dropdown {
    font-size: 0.85em;
}

.comment .child,
.comment .showreplies {
    border-left: 1px solid #ccc;
    padding-left: 0.25em;
}

.nav-buttons {
    padding: 0.5em 0;
}


/* FLAIRS =========================================================== */

.flair {
    font-weight: 900;
    max-width: none;
}

html[lang="hh"] .listing-page .thing.linkflair-humour {
    display: none;
}

html[lang="hf"] .listing-page .thing.linkflair-freespeech {
    display: none;
}

html[lang="ad"] .listing-page .thing.linkflair-admissions {
    display: none;
}

html[lang="hu"] .listing-page .thing.linkflair-utsu {
    display: none;
}

html[lang="ho"] .listing-page .thing.linkflair-other {
    display: none;
}

html[lang="hd"] .listing-page .thing.linkflair-discussion {
    display: none;
}

html[lang="ac"] .listing-page .thing.linkflair-academics {
    display: none;
}

html[lang="hc"] .listing-page .thing.linkflair-courses {
    display: none;
}

html[lang="hs"] .listing-page .thing.linkflair-serious {
    display: none;
}

html[lang="hj"] .listing-page .thing.linkflair-jobs {
    display: none;
}

.flair-green {
    color: green;
}

.flair-red {
    color: red;
}

.flair-orange {
    color: orange;
}

.flair-yellow {
    color: yellow;
}

.flair-purple {
    color: purple;
}

.flair-navy {
    color: navy;
}

.flair-black {
    color: black;
}

.flair-pink {
    color: pink;
}

.flair-cyan {
    color: cyan;
}

.flair-brown {
    color: brown;
}

.flair-blue {
    color: blue;
}

.linkflair-humour .linkflairlabel {
    background: #FCFF33;
    color: black;
    border-color: #black;
}

.linkflair-serious .linkflairlabel {
    background: #33ccff;
    color: white;
    border-color: #33ccff;
}

.linkflair-admissions .linkflairlabel {
    background: #3FFF33;
    color: white;
    border-color: #3FFF33;
}

.linkflair-freespeech .linkflairlabel {
    background: #3352FF;
    color: white;
    border-color: #3352FF;
}

.linkflair-utsu .linkflairlabel {
    background: #E933FF;
    color: white;
    border-color: #E933FF;
}

.linkflair-other .linkflairlabel {
    background: #33FFEC;
    color: black;
    border-color: #33FFEC;
}

.linkflair-discussion .linkflairlabel {
    background: #D6686F;
    color: white;
    border-color: #D6686F;
}

.linkflair-academics .linkflairlabel {
    background: #E8CE9E;
    color: white;
    border-color: #E8CE9E;
}

.linkflair-courses .linkflairlabel {
    background: #C6EDC3;
    color: black;
    border-color: #C6EDC3;
}

.linkflair-jobs .linkflairlabel {
    background: #F4A17D;
    color: white;
    border-color: #F4A17D;
}

.stickied .midcol {
    visibility: hidden;
}


/* SUBMIT =========================================================== */

.submit.content,
.formtabs-content {
    width: 100%;
}


/* RES Custom Easter Egg */

.res #baconBit {
    background: url(%%uoftdark%%);
    height: 100px;
    width: 100px;
}
